<!doctype html>
<html>
<head>
    <title>The Safe Space</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Beau+Rivage&family=Bubblegum+Sans&family=Dancing+Script&family=Pacifico&family=Playfair+Display:ital@1&family=Roboto+Condensed&family=Rubik+Bubbles&family=Source+Sans+Pro:wght@200&family=Square+Peg&family=Tapestry&family=Tiro+Devanagari+Marathi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1 id="profileh1"> Journal Entry</h1>
        <a href="/feed">Feed</a>

        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

<section id="affirmsection">
  <h2 id="affirmtitle">Daily Affirmation</h2>
 <h3 id="quote"></h3> 
 <h3 id="author"></h3>
</section>


    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="messageboard">
        
      <section class="formsection">
          <h2 class="profileheader">Let it out.. </h2>
        <% if (user.local.email) { %>
          <form action="/makePost" method="POST" id="profileform">
            <input type="date" name="date" placeholder="date" id="date">
            <input type="text" name="title" placeholder="title" id="title">
            <input id="caption" type="text" name="caption" placeholder="begin writing here">
            <h3 id="formh3">How are you feeling?</h3>
            <p>use the mood the wheel to express yourself! 
              choose from: the words displayed in each category!</p>
            <input type="text" name="currentMood" id="mood">
            
            <button class="submitbtn" type="submit">Submit</button>
          </form>  
          
       
        <% } %>
  </div>
</div>


<section class="newPost">
   </section><h1 id="moodh1">Logged Moods Displayed Below:</h1>
      <img class="moodwheel" src="img/moodlog.png" alt="">
      <section>
  
  <% for(var h=1; h<= 31; h++) {%>
    <% for(var i=0; i<entries.length; i++ ) {%>
       <%let arr = entries[i].date.split('-')%>
       <%let day = Number(arr[2])%>
       <%if(day === h){%>
        <div style="background-color:<%= entries[i].color %> ;opacity: <%= entries[i].scale %> ;" class="colors">
        </div>
      <%} else{%>
        <div style="background-color:rgb(255, 253, 253) ; opacity: .6;" class="colors">
        </div>
      <%}%>    
  <% } %> 
   <% } %>
  </section>
</section>


<section id="posts">
  <h3 id="postsh3">Posts</h3>
  <ul class="messages">
  <% for(var i=0; i<entries.length; i++) {%>
    <li class="message">
      
        <h4 id="messagepost"><%= entries[i].date %></h4>
        <h4 id="messagepost"><%= entries[i].title %></h4>
       
      <span><i class="fa fa-trash" aria-hidden="true"></i></span><a href="/post/<%= entries[i]._id %>">see post</a> 
    </li>
  <% } %>
  </ul>
  
</section>

<script src="main.js"></script>

</body>
</html>
