<!doctype html>
<html>
<head>
    <title>The Safe Space</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Beau+Rivage&family=Bubblegum+Sans&family=Dancing+Script&family=Pacifico&family=Playfair+Display:ital@1&family=Roboto+Condensed&family=Rubik+Bubbles&family=Source+Sans+Pro:wght@200&family=Square+Peg&family=Tapestry&family=Tiro+Devanagari+Marathi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1 id="profileh1"> Journal Entry</h1>
        <a href="/feed">Feed</a>

        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

<section id="affirmsection">
  <h2 id="affirmtitle">Daily Affirmation</h2>
 <h3 id="quote"></h3> 
 <h3 id="author"></h3>
</section>


    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <% if (!phone) { %>
          <section class="formsection">
            <h2 class="profileheader"> Would You Like Message Reminders To Log In?</h2>
  
            <form action="/msgPost" method="POST" id="msgForm">
              <label for="phone">Enter Phone Number</label>
              <input placeholder="XXX-XXX-XXXX" type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
              <button class="submitbtn" type="submit">yes, send me texts</button>
            </form>
          </section>
  <% } %>
        
      <section class="formsection">
          <h2 class="profileheader">Let it out.. </h2>
        <% if (user.local.email) { %>
          <form action="/makePost" method="POST" id="profileform"  onsubmit="alert('you have uploaded your entry! ')" autocomplete="off" >
            <input type="date" name="date" placeholder="date" id="date">
            <input type="text" name="title" placeholder="title" id="title">
            <input id="caption" type="text" name="caption" placeholder="begin writing here">
            <h3 id="formh3">How are you feeling?</h3>
            <p>use the mood the wheel to express yourself! 
              choose from: the words displayed in each category!</p>
              <div class="autocomplete" style="width:300px;">
                <input id="currentMood" type="text" name="currentMood" placeholder="Enter Mood Here">
              </div>            
            <button class="submitbtn" type="submit">Submit</button>
          </form>  
          
       
        <% } %>
  </div>
</div>


<section class="newPost">
  
   <h1 id="moodh1">Logged Entries Displayed Below:</h1>
      <img class="moodwheel" src="img/moodlog.png" alt="">

      <section class="moodSquares">
        <h2>Logged moods for the Month shown Below::</h2>

        <% for(var h=1; h <= 31; h++) {%>
          <div class="daySquare">
            <% for(var i=0; i<entries.length; i++) {%>
              <%let arr = entries[i].date.split('-')%>
              <%let day = Number(arr[2])%>
              <%if(day === h){%>
                <div style="background-color: <%= entries[i].color %> ;opacity: <%= entries[i].scale %> ;" class="colors">
                </div>
            <% } %> 
            <% } %> 
          </div>
        <% } %>
      </section>
    </section>


<section id="posts">
  <ul class="messages">
  <% const lastThree = Math.min(entries.length,3); for(var i=0; i<lastThree; i++) {%>
    <li class="message">
      <h3 id="postsh3">Posts</h3>

        <h4 class="messagepost"><%= entries[i].date %></h4>
        <h4 class="messagepost"><%= entries[i].title %></h4>
       
      <span><i class="fa fa-trash" aria-hidden="true"></i></span><a href="/post/<%= entries[i]._id %>">see post</a> 
    </li>
  <% } %>
  </ul>
  
</section>

<script src="main.js"></script>

<script>
  autocomplete(document.getElementById("currentMood"), moods);
</script>


</body>
</html>
